@import url(https://fonts.googleapis.com/css?family=RobotoDraft&lang=en);
/* Demo Page Styles
----------------------------*/
.md-button {
    min-width: 44px;
}

*:focus {
    outline: none;
}

a:hover {
    cursor:pointer;
}

ng-md-icon {
    fill: #fff;
}

ng-md-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

md-sidenav md-list-item * {
    width: 100%;
}

md-sidenav md-list-item .md-button {
    text-align: left;
    margin: 0;
    padding: 0 12px;
}

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px 16px;
    vertical-align: middle;
    width: 48px;
}
