<nav-bar></nav-bar>
<div class="container-fluid bodycoy">
<div class="thumbnail text-center container-fluid col-sm-12 col-md-12  layout-margin " ng-controller="MoviesShowController">
    <a ng-href="#/jorge/movies" ><h1>{{m.title}}</h1></a>
    <h3>Overview:</h3>
    <p>{{m.overview}}</p>
    <h3>Popularity:</h3>
    <p>{{m.popularity}}</p>
    <h4>Status:</h4>
    <p>{{m.status}}</p>
    <h4>Tagline:</h4>
    <p>{{m.tagline}}</p>
</div>
</div>
<footer class="pager">
    <h6>All rights reserved 2016 <a href="https://www.themoviedb.org">TMDb</a> </h6>
</footer>