<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="mainController as main">
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left-nav" md-is-locked-open="false">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Players</h2>
            <span flex></span>
            <md-button ng-click="main.close()" aria-label="Close Menu">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/">
                    <img ng-src="img/logo.png" class="face" alt=""> HOME
                </md-button>
            </md-list-item>
            <md-list-item>
               <md-button ng-click="main.close()" ng-href="#/gerardo">
                   <img ng-src="img/G.png" class="face" alt=""> GERARDO ROSALES
               </md-button>
            </md-list-item>
                <md-list-item>
                    <md-button ng-click="main.close()" ng-href="#/jorge">
                        <img ng-src="img/DSC_6366.JPG" class="face" alt="">JORGE ACEVEDO
                    </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/axel">
                <img ng-src="img/axl.jpg" class="face" alt="">AXEL CARDENAS
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/diego">
                <img ng-src="img/IMG_20151216_194036077.jpg" class="face" alt="">DIEGO ZARATE
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/fernando">
                <img ng-src="img/pheer angular.jpg" class="face" alt="">FERNANDO HERNANDEZ
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/marin">
                <img ng-src="img/Capture.PNG" class="face" alt="">MARIN IBARRA
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="main.close()" ng-href="#/fritz">
                    <img ng-src="img/foto.jpg" class="face" alt="">FRITZ VON SCHERZER
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<div flex layout="column" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="navbar-fixed-top">
        <div class="md-toolbar-tools">
            <md-button ng-click="main.toggleLeft()" aria-label="Open Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <img src="img/AngularJS-Logo-300x79.png" width="200" height="50" class="header show">
            <h2 class="header show"></h2>
            <span flex></span>
            <img src="img/Softtek_small.gif" class="pull-right" width="80" height="40">
        </div>
    </md-toolbar>

    <div flex layout="column">
        <!-- Aqui se cargara el index de cada proyecto-->
        <div flex layout="column" class="md-padding">
            <div ng-view></div>
        </div><!-- end view -->
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap/js/collapse.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
<script src="bower_components/angularbknd-sdk/dist/backand.min.js"></script>
<script src="app.js"></script>
<script src="main.js"></script>
<script src="gerardo/gerardo.js"></script>
<script src="gerardo/products.js"></script>
<script src="jorge/js/jorge.js"></script>
<script src="jorge/js/services/movie-services.js"></script>
<script src="jorge/js/services/person-services.js"></script>
<script src="jorge/js/services/tv-services.js"></script>
<script src="jorge/js/panel-directive.js"></script>
<script src="axel/app.js"></script>
<script src="axel/prodDep.js"></script>
<script src="diego/js/app.js"></script>
<script src="diego/js/Directives.js"></script>
<script src="fernando/app.js"></script>
<script src="fernando/formulario.js"></script>
<script src="marin/js/app.js"></script>
<script src="marin/js/products.js"></script>
<script src="fritz/app.js"></script>
<script src="fritz/book.js"></script>
<script src="fritz/main.js"></script>
<script src="fritz/review.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>