<nav-bar></nav-bar>
<div class="container-fluid bodycoy" layout-margin="50px" ng-controller="PersonsIndexController">
    <div class="row list-group">
        <div class="item col-sm-12 col-lg-4" ng-repeat="person in persons | filter:query">
            <a ng-href="#/jorge/persons/{{person.id}}" class="thumbnail">
                <img class="group list-group-image" src="http://image.tmdb.org/t/p/w370/{{person.profile_path}}" alt="No image available">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{person.name}}</h4>
                    <p class="group inner list-group-item-text">Popularity: {{person.popularity}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<footer class="pager">
    <h6>All rights reserved 2016 <a href="https://www.themoviedb.org">TMDb</a> </h6>
</footer>